.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.pbpBlock {
    width: 100%;
    box-shadow: 3px 7px 5px 0px #ddd;
    cursor: pointer;
}

h3,p {
    margin: 0;
}
p {
    margin-top: 5px;
}
