.formControls {
    width: 300px;
}

.formControls input[type="text"], input[type="password"] {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
}

form {
    width: 308px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 24px 2px #ddd;
    border-radius: 20px;
}

.form {
    margin-bottom: 10px;
}

.submit input[type="submit"] {
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    background: plum;
    cursor: pointer;
    margin-top: 10px;
}

span {
    color: red;
    font-weight: 600;
}